In [ ]:
Sonok_Path_For_Data = "/Users/sonokmahapatra/Desktop/AWS_Honeypot_marx-geo.csv"
# This is just incase no need to run this code 
# This is done in VScode but you could upload and refactor code in 
# Google Colab or Juypter notebooks

In [2]:
# Block of import and dependencies change as needed 
# Sonok is using python 3.8.12 but I don't think it should matter too much
import pandas as pd

In [9]:
# a) First import 

# Load the CSV file
df = pd.read_csv('AWS_Honeypot_marx-geo.csv')

# Display the first few rows of the dataframe
df.head()

,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,Unnamed: 15
0,3/3/13 21:53,groucho-oregon,1032051418,TCP,NaN,6000.0,1433.0,61.131.218.218,CN,China,Jiangxi Sheng,36,NaN,28.5500,115.9333,NaN
1,3/3/13 21:57,groucho-oregon,1347834426,UDP,NaN,5270.0,5060.0,80.86.82.58,DE,Germany,NaN,NaN,NaN,51.0000,9.0000,NaN
2,3/3/13 21:58,groucho-oregon,2947856490,TCP,NaN,2489.0,1080.0,175.180.184.106,TW,Taiwan,Taipei,NaN,NaN,25.0392,121.5250,NaN
3,3/3/13 21:58,groucho-us-east,841842716,UDP,NaN,43235.0,1900.0,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,NaN
4,3/3/13 21:58,groucho-singapore,3587648279,TCP,NaN,56577.0,80.0,213.215.43.23,FR,France,NaN,NaN,NaN,48.8600,2.3500,NaN

In [15]:
print(df.columns)
r, c = df.shape
print(f'The number of cyber attacks {r} and the number of features we have per attack anaylsis {c}')

num_nans_in_unnamed = df['Unnamed: 15'].isna().sum()
total_values_in_unnamed = len(df['Unnamed: 15'])

print(f'The portion of rows in [Unnamed: 15] column that are NaNs {num_nans_in_unnamed / total_values_in_unnamed}')
# Might be best to drop this column

Index(['datetime', 'host', 'src', 'proto', 'type', 'spt', 'dpt', 'srcstr',
       'cc', 'country', 'locale', 'localeabbr', 'postalcode', 'latitude',
       'longitude', 'Unnamed: 15'],
      dtype='object')
The number of cyber attacks 451581 and the number of features we have per attack anaylsis 16
The portion of rows in [Unnamed: 15] column that are NaNs 0.999816201301649

In [16]:
# (b) Parse: Convert strings to appropriate data types where needed

# Convert datetime column to pandas datetime
df['datetime'] = pd.to_datetime(df['datetime'])

# Convert integer-like columns from float to int
df['spt'] = df['spt'].astype('Int64')
df['dpt'] = df['dpt'].astype('Int64')
df['src'] = df['src'].astype('Int64')

df = df.drop(columns=['Unnamed: 15'])

/var/folders/nt/5983c1hx7dj3p1sndw5n8jc80000gn/T/ipykernel_7459/1202936655.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['datetime'] = pd.to_datetime(df['datetime'])